html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-size: 16px;
    background-color: #F3EEE0;
    position: relative;
    height: 100%;
}

textarea, input { outline: none; }

p {
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
}

.body-content {
	margin-bottom: 4.4em;
}

ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	list-style: none;
}

/******/

header.top-header {
	background-color: #D86A62;
	padding: 1.563em 0 1.563em 0;
}

header.top-header img {
	height: 1.65em;
	width: auto;
}


header #user-options {
	float: right;
}

header #user-options li {
	display: inline-block;
	margin-left: 1em;
}

header #user-options li select{
	border: 0;
}

header #user-options li a{
	color: white;
	text-decoration: none;
}

/******/

footer {
	background-color: #F1E9CE;
	min-height: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer p {
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	color: #f5937d;
}