.body-content {
	margin-bottom: 0em;
}

#login-wrapper {
	background-color: #d98673;
	padding: 5.625em 0 5.625em 0;
	margin-bottom: 0;
	position: relative;
	height: 500px;
	overflow: hidden;
	height: 100%;
}

#upper-triangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-style: solid;
	border-width: 500px 1500px 0 0;
	border-color: #D86A62 transparent transparent transparent;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	margin: 0;
}

form * {
	float: left;
}

form #username, form #password{
	margin-top: 2.5em;
	width: 65%;
}

form hr{
	margin-top: 2.5em;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

form #username, form #password {
	background-color: #f0e9ce;
	padding: 0.4em;
	border: 1px solid #d98673;
	border-left: 0;
	color: #E39994;
	height: 2.1em;
	font-size: 16px;
}



form span:not(.vertical-hr) {
	margin-left: 10%;
	margin-top: 2.5em;
	width: 15%;
	background-color: #f0e9ce;
	height: 2.1em;
	display: block;
	border: 1px solid #d98673;
	border-right: 0;
}

form span img {
	width: 1.8em;
}

form span .vertical-hr {
	width: 1px;
	height: 1.3em;
	margin-top: 0.4em;
	background-color: #d98673;
}

form #username::-webkit-input-placeholder {
   color: #D86A62;
}

form #username:-moz-placeholder { /* Firefox 18- */
   color: #D86A62;  
}

form #username::-moz-placeholder {  /* Firefox 19+ */
   color: #D86A62; 
}

form #username:-ms-input-placeholder {  
   color: #D86A62;
}

form #password::-webkit-input-placeholder {
   color: #D86A62;
}

form #password:-moz-placeholder { /* Firefox 18- */
   color: #D86A62;  
}

form #password::-moz-placeholder {  /* Firefox 19+ */
  color: #D86A62;
}

form #password:-ms-input-placeholder {  
   color: #D86A62;
}

form input[type="checkbox"] {
	margin-left: 10%;
	margin-right: 0.5em;
}

form label {
	font-weight: 300;
	font-size: 14px;
	color: white;
}

form input[type="submit"] {
	clear:both;
	text-align: center;
	margin-left: 30%;
	width: 40%;
	margin-right: 30%;
	margin-top: 1em;
	background-color: #f79983;
	color: white;
	border: 0;
}

form input[type="submit"]:hover {
	background-color: #D86A62;
}

form span.field-validation-valid {
	display: none;
}

form span.field-validation-error {
	margin-left: 10%;
	margin-top: 0.5em;
	width: 80%;
	background-color: inherit;
	border: 1px solid #f0e9ce;
	border-right: 1px solid #f0e9ce;
	padding: 0.2em;
}

form span.field-validation-error span {
	height: 1.5em;
	margin-left: 0;
	margin-top: 0;
	width: 100%;
	background-color: inherit;
	height: 100%;
	display: block;
	border: 0;
	text-align: center;
}


#login-error {
	margin-left: 10%;
	width: 80%;
	margin-top: 1em;
	margin-bottom: -1em;
	text-align: center;
	background-color: #D86A62;
	border: 1px solid #f0e9ce;
	padding: 0.5em;
	color: #f0e9ce;
}


