<div class="search-box">
    <img src="~/Content/Images/pictogramas-01.png" />
    <form method="get" action="../Search/Search">
        <input id="textbox" name="textSearch" placeholder="@Resources.Search" />
        <input type="submit" value="Procurar" style="display: none" />
    </form>
</div>


