<div class="search-box">
    <img src="~/Content/Images/pictogramas-01.png" />
    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
    {
        @Html.TextBox("textbox", ViewData.TemplateInfo.FormattedModelValue, new { placeholder = "PESQUISA" })
        <input type="submit" value="Procurar" style="display: none" />
    }
</div>


