body {
	font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #F3EEE0;
    position: relative;
}

p {
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
}


.navbar-nav > li > a {
	padding: 0;
}

.body-content {
	margin-bottom: 4.4em;
	height: 100%;
}

/******/

header .navbar-header a{
	position: relative;
	display: block;
	z-index: 1000;
}

header.navbar {
	background-color: #D86A62;
	padding: 4.4em 0 2.1em 0;
	margin-bottom: 0;
	border-radius: 0;
	border: 0px solid transparent;
	border-width: 0;
	border-color: transparent;
}

header #home-link {
	float: left;
}

header.navbar li {
	padding-left: 0.625em;
}

header.navbar .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
}

header.navbar .navbar-nav > li > a:hover {
	color: #f5937d;
}

header .navbar-collapse {
	position: relative;
	z-index: 1;
}

header.navbar .navbar-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

header.navbar .navbar-toggle {
	border-color: #F3EEE0;
	margin: 0;
	margin-right: 15px;
}

header.navbar .navbar-toggle:hover {
	background-color: #D98573;
}

header.navbar .navbar-toggle:focus {
	background-color: #D98573;
}

header.navbar .navbar-toggle .icon-bar {
	background-color: #F3EEE0;
}


footer {
	position: fixed;
	bottom:0;
	left: 0;
	background-color: #F1E9CE;
	min-height: 0;
	width: 100%;
	z-index: 1;
}

footer p {
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	color: #f5937d;
	float: left;
	margin-left: 1em;
}


.search-box {
	width: 320px;
	height: 64px;
	background-color: #f0e9ce;
	padding: 1em 1.5em 1em 1.5em;
	margin-bottom: 2.7em;
}

.search-box img {
	float: left;
	width: 32px;
	height: 32px;
}

.search-box #textbox {
	float: left;
	width: 220px;
	height: 30px;
	margin: 0.063em 0 0 0.625em;
	border: 0;
}

.search-box #textbox:focus{
	outline-color: #f5937d;
}

.search-box #textbox::-webkit-input-placeholder { /* WebKit browsers */
    text-align: center;
}
.search-box #textbox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
}
.search-box #textbox::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
}
.search-box #textbox:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-align: center;
}

.pull-top {
	margin-top: 4.4em;
}


.section-title {
	color: #D86A62;
}

.section-title hr {
	border-color: #FF8B8A;
}

#culture {
	float: right;
	margin: 0.5em 1em 0.5em 0;
}


#culture:focus {
	outline-color: #D86A62;
}

.btn-success:active {
	color: inherit;
}

.btn-success:focus {
	outline-color: #D86A62;
}

.btn-facebook {
	margin-top: 1.5em;
}