.user-separator.desc  {
    border-color: #D86A62;
    border-width: 1px 0;
}

.user-separator.item {
    border-color: #F0E9CE;
    border-width: 8px 0;
    clear:both;
}

.hp-panel-user-page-accordion {
    background-color:transparent;
    border-color:transparent;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.no-background.panel-heading{
    background-color:transparent;
    padding-left: 0;
}

.col-no-left-padding{
    padding-left: 0;
}

a.panel-title {
    color: #DA776B;
    text-transform: uppercase;
    font-weight: 400;
}

a.panel-title:hover {
    text-decoration: none;
}

.user-desc {
	margin-top: 4.4em;
	color: #575656;
}

.user-desc img, #accordion img {
	width: 4em;
	height: auto;
	max-height: 4em;
}

.subscribed-ad, .buyed-ad, .subscribed-inst {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #D86A62;
}

.subscribed-ad label, .buyed-ad label, .subscribed-inst label {
    color: #DA776B;
}

.subscribed-group .date,  .buyed-group .date {
    background-color: #F1E9CE;
    display: block;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
}

#accordion img.profile-btn {
    float: right;
    width: 2em;
    cursor: pointer;
}

#edit-details input {
    display: none;
    width: 100%;
    padding: 0.5em;
}

#edit-details label {
    text-transform: uppercase;
    color: #DA776B;
    font-weight: 400;
}

#edit-details input[type="submit"]{
    text-align: center;
    background-color: #f79983;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 0.5em;
}

#edit-details input[type="submit"]:hover {
    background-color: #D86A62;
}

#collapseOne .details-field {
    margin-bottom: 1em;

}

#collapseOne .details-field label{
    display: block;
}

.region-thumb {
    float: left;
}

.region-content {
    float: left;
    margin-left: 2em;
    width: 32%;
}


@media (max-width: 767px) {
  .region-content {
    width: 70%;
    }
}

@media (max-width: 367px) {
  .region-thumb {
        position: relative;
        left: 50%;
        margin-left: -32px;
    }

    .region-content {
        margin-left: 0;
        width: 100%;
        margin-top: 1em;
    }
}