@model WebClient_.Models.UserInfo

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/home.css")

    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
@Html.Partial("_SearchBar")

<div class="slider-wrapper">
    <div class="slider container">
        <ul class="slides">
            <li class="slide">
                <div class="row">
                    <div class="col-md-3">
                        <div class="service-image">
                        </div>
                        <span class="service">CONSULTA PEDIATRIA</span>
                        <span class="service-local">CUF - PORTO</span>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="row">
                    <div class="col-md-3">
                        <div class="service-image">
                        </div>
                        <span class="service">CONSULTA PEDIATRIA</span>
                        <span class="service-local">CUF - PORTO</span>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="row">
                    <div class="col-md-3">
                        <div class="service-image">
                        </div>
                        <span class="service">CONSULTA PEDIATRIA</span>
                        <span class="service-local">CUF - PORTO</span>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="row">
                    <div class="col-md-3">
                        <div class="service-image">
                        </div>
                        <span class="service">CONSULTA PEDIATRIA</span>
                        <span class="service-local">CUF - PORTO</span>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="service-image">
                            </div>
                            <span class="service">CONSULTA PEDIATRIA</span>
                            <span class="service-local">CUF - PORTO</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="slider-navigation-controls">
</div>

@Scripts.Render("~/Scripts/jquery.glide.min.js")
@Scripts.Render("~/Scripts/local/home.js")