
@{
    ViewBag.Title = "Index";
}

<form method="post" action="../Manager/ManagerLogin">
    <input type="text" name="username" />
    <input type="text" name="password" />
    <input type="submit" value="Login" />
</form>
