@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="../Institution/SearchInstitution">
    <input type="text" name="textSearch" />
    <input type="submit" value="Procurar" />
</form>
