@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="../Institution/SearchInstitution">
    <input type="text" name="textSearch" />
    <input type="submit" value="Procurar" />
</form>

<form method="post" action="../Institution/InstitutionsSubscribe">
    <input type="submit" value="Ver instituições subscritas" />
</form>

<form method="post" action="../Institution/SubscribeInstitution">
    <input type="submit" value="Subscrever instituição" />
</form>

<form method="post" action="../Institution/UnsubscribeInstitution">
    <input type="submit" value="Não subscrever instituição" />
</form>

<form method="post" action="../Institution/NearestInstitutions">
    <input type="submit" value="Ver instituições mais perto" />
</form>

