@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/home.css")

</div>
<div id="login-wrapper">
    <div id="upper-triangle"></div>
    <div id="lower-triangle"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3>LOGIN</h3>
                <form method="get" action="">
                    <span><img src="~/Content/Images/pictogramas-23.png" /><span class="vertical-hr"></span></span>
                    <input type="text" id="username" name="username" placeholder="USERNAME" />
                    <span><img src="~/Content/Images/pictogramas-22.png" /><span class="vertical-hr"></span></span>
                    <input type="password" id="password" name="password" placeholder="PASSWORD" />
                    <hr />
                    <input type="checkbox" name="save-password" />
                    <label for="save-password">Guardar password</label>
                    <input type="submit" value="LOGIN"/>
                </form>
            </div>
        </div>
    </div>
</div>