@{
    ViewBag.Title = "Index";
}

@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<!--FACEBOOK SDK and authentication-->

<div id="fb-root"></div>
<script type="text/javascript" src="/Scripts/FacebookSDK.js"></script>


<!-- FACEBOOK button plugin -->

<div style="display:none" class="fb-login-button" data-max-rows="1" 
     data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>

