<div class="col-md-12 col-xs-12 clearfix">
    <div class="row">
        <div class="col-md-12 col-xs-12 clearfix">
            <div id="details">
                <span id="inst-name">Hospital 44</span>
                <span id="inst-local">Porto</span>
                <hr />
                <span>Editar cupões</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 clearfix">
            <div id="cupons-list-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cupon-wrapper">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="img"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="details">
                                        <span>Consulta Ortopédica</span>
                                        <span>Hospital 44</span>
                                        <span>Porto</span>
                                        <span>15-05-2014</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="price">
                                        <span>35€</span>
                                    </div>
                                    <a href="#"><img src="~/Content/Images/pictogramas-24.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cupon-wrapper">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="img"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="details">
                                        <span>Consulta Ortopédica</span>
                                        <span>Hospital 44</span>
                                        <span>Porto</span>
                                        <span>15-05-2014</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="price">
                                        <span>35€</span>
                                    </div>
                                    <a href="#"><img src="~/Content/Images/pictogramas-24.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cupon-wrapper">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="img"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="details">
                                        <span>Consulta Ortopédica</span>
                                        <span>Hospital 44</span>
                                        <span>Porto</span>
                                        <span>15-05-2014</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="price">
                                        <span>35€</span>
                                    </div>
                                    <a href="#"><img src="~/Content/Images/pictogramas-24.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cupon-wrapper">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="img"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="details">
                                        <span>Consulta Ortopédica</span>
                                        <span>Hospital 44</span>
                                        <span>Porto</span>
                                        <span>15-05-2014</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="price">
                                        <span>35€</span>
                                    </div>
                                    <a href="#"><img src="~/Content/Images/pictogramas-24.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
