
@{
    ViewBag.Title = "Cupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cupon</h2>

<form method="post" action="../Cupon/PrintCupon">
    <input type="submit" value="Imprimir cupão" />
</form>

