@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" action="../Ad/SearchAd">
        <input type="text" name="textSearch" />
        <input type="submit" value="Procurar" />
    </form>*@

<br />
<div class="row col-xs-12 col-md-12">

    <div class="col-xs-4 col-md-6">
        <img class="center-block img-thumbnail img-responsive" src="~/Content/images/cupon.png" alt="Imagem cupao" />

    </div>
    <div class="col-xs-8 col-md-6">
        <h2>Titulo cupao</h2>

        <hr class="hplus_HR1" />

        <h4>Descricao</h4>
        <p>
            Ola eu sou um cupao, vivo no hospital onde podes curar isso que te doi<br />
            A um preço fantastico!

        </p>
        <h4>Data</h4>
        <p>
            02.11.1014

        </p>

        <h4>Instituicao</h4>
        <p>
            Hospital de S. Sebastiao

        </p>
        <h4>Desconto</h4>
        <p>
            50%

        </p>
        <h4>Localização</h4>
        <p>
            Santa Maria da Feira

        </p>

        <h4>Preço</h4>
        <p>
            22.4€

        </p>
        <br />
        <div class="col-xs-12 col-md-12 col-no-left-padding">
            <img class="left" src="~/Content/images/carrinho.png" alt="Comprar" />

        </div>
        <div class="col-xs-12 col-md-12">
            <br />
        </div>
        

    </div>

</div>

