@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" action="../Ad/SearchAd">
        <input type="text" name="textSearch" />
        <input type="submit" value="Procurar" />
    </form>*@

@Styles.Render("~/Content/ad.css")

<div class="row col-xs-12 col-md-12">

    @*<form method="post" action="../Ad/SearchAd">
        <input type="text" name="textSearch" />
        <input type="submit" value="Procurar" />
    </form>*@

    <div class="col-xs-2 col-md-4">
        <img id="cupn-img"class="img-responsive" src="~/Content/images/cupon.png" alt="Imagem cupao" />
    </div>
    <div class="col-xs-8 col-md-6">
        <h4 id="cupn-title">Titulo cupão</h4>
        <hr class="separator-title" />
        <h5>Descrição</h5>
        <p>
            Ola eu sou um cupao, vivo no hospital onde podes curar isso que te doi<br />
            A um preço fantastico!
        </p>
        <hr class="separator-details" />
        <h5>Data</h5>
        <p>
            02.11.1014
        </p>
        <hr class="separator-details" />
        <h5>Instituição</h5>
        <p>
            Hospital de S. Sebastião
        </p>
        <hr class="separator-details" />
        <h5>Desconto</h5>
        <p>
            50%
        </p>
        <hr class="separator-details" />
        <h5>Localização</h5>
        <p>
            Santa Maria da Feira
        </p>
        <hr class="separator-details" />
        <h5>Preço</h5>
        <p>
            22.4€
        </p>
        <a href="#"><img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" /></a>

        <form method="post" action="../Ad/SubscribeAd">
            <input type="submit" value="Subscrever Anuncio" />
        </form>
        <form method="post" action="../Ad/UnsubscribeAd">
            <input type="submit" value="Não Subscrever Anuncio" />
        </form>
        <form method="post" action="../Ad/AdsSubscribe">
            <input type="submit" value="Ver anuncios subscritos" />
        </form>
        <form method="post" action="../Ad/SearchAd">
            <input type="text" name="textSearch" />
            <input type="submit" value="Procurar" />
        </form>
    </div>
</div>

