<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a bla bla bla pain in the ass bla....</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more (how I wish...)  &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hello there</h2>
        <p>
        <br />You have reached a soon to be full feature Health Plus API!
        <br /> Which in other words means...
        <br /> And since this is an API and all....
        <br /> THERE's Nothing to see here, only request to be made =)
        </p>
        <p><a class="btn btn-default" href="http://localhost:52170/">You should visit our client page &raquo;</a></p>
    </div>
</div>
