
@{
    ViewBag.Title = "Index";
    var mg = (WebInstitution.Models.SessionModel) Session["manager"];
}

<form method="post" action="../Account/ManagerLogin">
    <input type="text" name="username" />
    <input type="text" name="password" />
    <input type="submit" value="Login" />
</form>

<hr />

<form method="get" action="../Account/ManagerLogout">
    <input type="submit" value="Logout" />
</form>

<hr />

<h3>@ViewData["login"];</h3>

<hr />
<div>
    @if(Session["manager"] != null) 
    {
        using (Html.BeginForm("SwitchInstitution", "Account"))
        {
            @Html.DropDownList("Institution", mg.getInstitutionsList())
        
            <input type="submit" value="Switch" />
        }
    }
</div>
