
@{
    ViewBag.Title = "Index";
}

<form method="post" action="../Account/ManagerLogin">
    <input type="text" name="username" />
    <input type="text" name="password" />
    <input type="submit" value="Login" />
</form>

<hr />

<form method="get" action="../Account/ManagerLogout">
    <input type="submit" value="Logout" />
</form>

<hr />

<h3>@ViewData["login"];</h3>
