
@{
    ViewBag.Title = "Search";
}

@Html.Partial("_SearchBar")

@Styles.Render("~/Content/search.css")

<div class="row grid-line">
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr/>
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span> 
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
</div>

<div class="row grid-line">
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
</div>

<div class="row grid-line">
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
    <div class="col-md-3">
        <div class="img-details">
            <div class="img"></div>
            <div class="hidden-details">
                <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                <hr />
                <span>Desconto 50%</span>
            </div>
        </div>
        <span class="cupn-service">consulta pediatria</span>
        <span>CUF - Porto</span>
        <span>19,70 €</span>
    </div>
</div>
