@model WebInstitution.Models.AdDisplayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        @foreach (var ad in ViewBag.ads)
        {
            if (ad.guids != null)
            {
                <img src="@Url.Content("~/Resources/Ad_Photos/" + ad.guids[0])" />
            }
        }
    
    </div>
</body>
</html>
