<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Create", "Ad", FormMethod.Post))
    {
        <div>
            <label for="service">Service: </label>
            <input name="service" type="text" />
            <hr />

            <label for="specialty">Specialty: </label>
            <input name="specialty" type="text" />
            <hr />

            <label for="name">Name: </label>
            <input name="name" type="text" />
            <hr />

            <label for="description">Description: </label>
            <input name="description" type="text" />
            <hr />

            <label for="price">Price: </label>
            <input name="price" type="text" />
            <hr />

            <label for="previous_price">Previous price: </label>
            <input name="previous_price" type="text" />
            <hr />

            <label for="total_cupons">Coupons: </label>
            <input name="total_cupons" type="text" />
            <hr />

            <label for="start_date">Start: </label>
            <input name="start_date" type="date" />
            <hr />

            <button type="submit">Create</button>
        </div>
    }
        
</body>
</html>